#Triangle

In [ ]:
#Triangle
for i in range(0,6):
  for j in range(i):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

# Multiplication Table

In [ ]:
###for range 1 to  4
for i in range(1,4):
  for j in range(1,4):
    print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
2*1=2
2*2=4
2*3=6
3*1=3
3*2=6
3*3=9


# Write a Python program that accepts a word from the user and reverses it.

In [35]:
word = input("Enter a word: ")

reversed_word = word[::-1]#Start from the end to the first

print(f"The reversed word is: {reversed_word}")

Enter a word: mido
The reversed word is: odim

# finding a maximum value in a list

In [ ]:
# finding a maximum value in a list
mylist=[1,2,3,4,5,6,7,8,9]
for i in mylist:
  if i >len(mylist):
    print(i)
print(f"Maximum Number in This List is {i}")

Maximum Number in This List is 9

#Counting Number of Vowels in any name

In [1]:
#Counting Number of Vowels in any name
name='Mohamed Tarek Mostafa'
count=0
for char in name:
  if char in ['a','e','i','o','u']:
    count+=1
print(f"Number of Vowels in this name is:{count} ")

Number of Vowels in this name is:8

#Finding prime number in a range ,lets say 50 to 100

In [ ]:
#Finding prime number in a range ,lets say 50 to 100
for num in range(50,101):
  if num >1:
    for i in range(2,num):
      if num % i==0:
        break
    else:
      print(num,"This is prime Number")

53 This is prime Number
59 This is prime Number
61 This is prime Number
67 This is prime Number
71 This is prime Number
73 This is prime Number
79 This is prime Number
83 This is prime Number
89 This is prime Number
97 This is prime Number

#Generating fibonacci sequence

In [4]:
#Generating fibonacci sequence
#every number in a sequence is added for sum of two previous values

n=10#iterate 10 times
x,y=2,3
fibonacci_sequence=[]
while len(fibonacci_sequence)<n:
  fibonacci_sequence.append(x)
  x,y=y,x+y#
print(f"fibonacci-sequence is {fibonacci_sequence}")

fibonacci-sequence is [2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

#Python program to guess number between 1 and 9

In [8]:
#Python program to guess number between 1 and 9
num = int(input("Enter The Number"))
if num in range(0,10):###0===9
  for i in range(0,10):
    if num ==i:
      print(f"The Guessed number is {num}")
else:
  print("This Number is not in arange(0,10)")

Enter The Number3
The Guessed number is 3

#Python Program to write to print all numbers between 0 , 6 except 3, 6

In [14]:
#Python Program to write to print all numbers between 0 , 6 except 3, 6

for i in range(0,6):
  if (i==6) or (i==3):
    continue
  print(i)

0
1
2
4
5

# Write a Python program to count the number of even and odd numbers

In [2]:
# Write a Python program to count the number of even and odd numbers
sample_numbers  = (1, 2, 3, 4, 5, 6, 7, 8, 9)
count_even=0
count_odd=0
for i in (sample_numbers):
  if (i%2==0):
    count_even+=1##Counter For Even Numbers only
  else:
    count_odd+=1#Counter for Odd numbers
else:
  print(f"Number of Even Numbers is {count_even}\n")
  print(f"Number of Odd Numbers Is {count_odd}")

Number of Even Numbers is 4

Number of Odd Numbers Is 5

#Write a Python program to construct the following pattern, using a nested loop number

In [31]:
for i in range(1, 10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

# Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [34]:
n=int(input("Enter The Number"))
sum=0
for i in range(1,n+1):
  sum=sum+i
average=(sum/n)
print(f"The sum of {n} is {sum}\n the averge is {average}")

Enter The Number10
The sum of 10 is 55
 the averge is 5.5

# A Program that Simulating a Basic ATM Withdrawal

> Add blockquote

In [7]:
correct_pin = 5822
attempts = 3
balance = 2000

# PIN entry loop
while attempts > 0:
    tested_pin = int(input("Enter Your Password: "))
    if tested_pin == correct_pin:
        break
    else:
        attempts -= 1
        print(f"You entered a wrong password, remaining attempts: {attempts}")

# Check if user failed all attempts
if attempts == 0:
    print("Account locked due to too many incorrect attempts.")
else:
    # Proceed to withdrawal only if PIN was correct
    withdraw_amount = int(input("Enter the amount you want to withdraw: "))
    if withdraw_amount > balance:
        print("Insufficient funds.")
    else:
        balance -= withdraw_amount
        print(f"Please wait until processing.\nTake your cash: {withdraw_amount}EGP\nRemaining balance: {balance}EGP")

Enter Your Password: 5822
Enter the amount you want to withdraw: 600
Please wait until processing.
Take your cash: 600EGP
Remaining balance: 1400EGP

# Finding Common Elements in Two Lists

In [14]:
list_one=[50,60,70,80,90,100]
list_two=[50,1,2,3,80,5,6,100]
print("The Common Values of Two Lists Is: ")
for i in list_one:
  for j in list_two:
    if i ==j:
      print(i)

The Common Values of Two Lists Is:
50
80
100

# Calculating Factorial of a Number

In [16]:
number = int(input("Enter a number to calculate its factorial: "))

factorial = 1

if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, number + 1):
        factorial *= i
    print(f"The factorial of {number} is {factorial}")

Enter a number to calculate its factorial: 3
The factorial of 3 is 6

# Finding the Sum of Digits of a Number

In [18]:
number = int(input("Enter a number to find the sum of its digits: "))

sum_of_digits = 0

while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10

print(f"The sum of the digits is {sum_of_digits}")

Enter a number to find the sum of its digits: 8
The sum of the digits is 8

## Simulating a Simple Password Check

In [3]:
MIN_LENGTH = 8

password = input("Enter a password: ")

if len(password) >= MIN_LENGTH and any(char.isdigit() for char in password) and any(not char.isalnum() for char in password):
    print("Password is valid.")
else:
    print("Password is invalid. Make sure it has at least 8 characters, including numbers and special characters.")

Enter a password: midosdlfd
Password is invalid. Make sure it has at least 8 characters, including numbers and special characters.

# Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [32]:
# Loop through the range of numbers
for num in range(1500, 2701):
    if num % 7 == 0 and num % 5 == 0:
        print(num)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695